mixin manage_table(options)
  - options = options || {};
  if !__global.__manage_table_id
    - __global.__manage_table_id = 1;
  - var tableid = 'table_' + __global.__manage_table_id++
  table.table.table-bordered.table-striped(id=tableid,data-module="manage_table",data-db=result.db,data-collection=result.collection,data-options=JSON.stringify(options))
    thead
      tr
        each field in options.fields
          if field.display === 'yes'
            th= field.alias
        th
    tbody
      //- include body
    //- tfoot
    //-   tr
    //-     each field in options.fields
    //-       th= field.alias