mixin manage_table(list,options)
  - options = options || {};
  - options.overrides = options.overrides || {};
  - options.overrides.td = options.overrides.td || {};
  - options.overrides.link = options.overrides.link || {};
  if !__global.__manage_table_id
    - __global.__manage_table_id = 1;
  - var tableid = 'table_' + __global.__manage_table_id++
  table.table.table-bordered.table-striped(id=tableid,data-module="manage_table",data-db=result.db,data-collection=result.collection)
    thead
      tr
        each field in options.fields
          if field.display === 'yes'
            th= field.alias
        th
    tbody
      each item in list
        tr
          each field in options.fields
            if field.display === 'yes'
              - var value = item[field.name];
              if field.db && field.collection
                if typeof value === 'string'
                  each foreignItem in result._data[field.db][field.collection]
                    if (foreignItem.id || foreignItem._id) === value
                      - value = foreignItem.name
                else if Array.isArray(value)
                  - value = value.map(function(oneOfValue){
                  -   var foreignData = result._data[field.db][field.collection]
                  -   for(var i = 0; i < foreignData.length; i++){
                  -     var foreignItem = foreignData[i];
                  -     if((foreignItem.id || foreignItem._id) === oneOfValue) return foreignItem.name;
                  -   }
                  - });
              td!= (options.overrides && options.overrides[field.name] ? options.overrides[field.name](value) : value)
          td
            if !options.readonly
              a(href=(options.overrides.link.update ? options.overrides.link.update : path.replace(/\/$/,'') + '/update/' + (item.id || item._id))) 编辑
              | 
              a.del-row(data-id=(item.id || item._id), href="javascript:;") 删除
            if options.showExec
              | 
              a.exec-row(data-id=(item.id || item._id), href="javascript:;") 执行
    //- tfoot
    //-   tr
    //-     each field in options.fields
    //-       th= field.alias