mixin manage_ctrl_won2yuan(options)
  .form-group(data-module="manage_ctrl_won2yuan",data-form-control="won2yuan")
    if options.label
      label= options.label
    if options.required === 'yes'
      span.text-red *
    div.clearfix
      .col-xs-3(style="padding:0;")
        label
          | 原价（韩元） 
          input.form-control(style="display:inline-block;width:120px;", type="text", name=options.name, value=(options.value || ''),required=(options.required === 'yes'))
      .col-xs-3(style="padding:0;")
        label
          | 折扣
          input.form-control(style="display:inline-block;width:120px;", type="text", name="discount", value=(options.discount || 10),required=(options.required === 'yes'))
      .col-xs-3(style="padding:0;padding-left:20px;")
        label
          | 库存 
          input.form-control(style="display:inline-block;width:120px;", type="number", name="stock", value=(options.stock || '0'),required=(options.required === 'yes'))
    div.clearfix
      | 当前汇率：
      span.rate= (options.rate || 0)
    div.clearfix
      | 折后单价（韩元）：
      span.unit-won= (options.unitWon || 0)
      | 元
    div.clearfix
      | 折后单价（人民币）：
      span.unit-yuan= (options.unitYuan || 0)
      | 元
    div.clearfix
      | 折后总价（人民币）：
      span.total-yuan= (options.totalYuan || 0)
      | 元